
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #d7d8de;
}

.wrapper .sidebar{
    position: absolute;
    margin-top: 80px;
    background: #0f0f1a;

    width: 145px;
    height: 40%;
    padding: 10px;
    transition: all 0.5s ease;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-radius: 10px;
    transform: translateX(50px);
    opacity: 0.9;
    display: table;
    top: 10px;
    left:10px;

}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    margin: 0 auto;
    transform: translateX(7px);
}

.wrapper .sidebar .profile h3{
    color: #b9b9f1;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a{
    display: inline-block;
    padding: 13px 30px;
    border-bottom: 1px solid #191933;
    color: rgb(246, 246, 246);
    font-size: 16px;
    position: relative;

}

.wrapper .sidebar ul li a .icon{
    color: #e7e7e7;
    width: 30px;
    display: inline-block;
}



.wrapper .sidebar ul li a:hover
{
    color: #0c7db1;

    background: #d7993e;
    border-right: 2px solid rgb(255, 255, 255);
}
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background: #1c1c33;
    border-right: 2px solid rgb(255, 255, 255);
}




.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #ffffff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}





.wrapper .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}

.wrapper .section .container{
    position: fixed;
    margin: 30px;
    background: #ffffff;
    padding: 50px;
    line-height: 28px;
    border-radius:20px ;
    overflow: scroll;
}

body.active .wrapper .sidebar{
    left: 0px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}

section .wrapper .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 950px;
    height: 700px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-onglets{
    background: #48C9B0 ;
    width: 100%;
    height: 12%;
    display: flex;
    border-bottom: 1px solid #333;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.onglets {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.onglets:not(:nth-child(3)) {
    border-right: 1px solid #333;
}

.contenu {
    height: 70%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.contenu h3 {
    padding: 20px;
}
.contenu hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    background: #000;
    border: none;
    margin-bottom: 1px;
}
.contenu p {

}

/* Anim */

.active {
    background: #d7993e;
    color: #f1f1f1;
    transition: all 0.3s ease;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.active-contenu {
    animation: fade 0.5s forwards;
    z-index: 1;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.login .container {
    z-index: 1;
}
.container .container-onglets img{
    width: 80px;
    height: 80px;
}
.container .container-onglets .calendar{
    width: 60px;
    height: 60px;
}
.container .contenu div.containers{

    width: 80%;
    height:200px;

    background-color: #ffffff;


    box-shadow: none;
    border-style: solid;

    border-width: 2px;
    border-color: black;

    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    vertical-align: middle;
    float: left;
    z-index: 1;
    border-radius: 20px;
    transform: translate(80px, 10px);



}
.contenu .containers .img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-color: #191933;


    transform: translateY(0px);
    margin: 0px;

}
.contenu .containers .img{

    display: block;
    position:relative;
    top:50px;
    left:0px;
}

.contenu .activity{
    width: 80%;
    height: auto;
    height: 90px;
    margin: 0px;
    display: inline-block;
    position: absolute;
    top:10px;
    transform: translateX(40px);
    max-height: border-box;
    position: inherit;


}
.contenu .activity h1{
    font-weight: 900;
    display: block;
    margin: 0px;
}
.contenu .activity progress {
    display: inline-block;

}
.contenu .activity p {
    font-size: 15px;
}

.contenu .containers .options {

    width: 150px;
    height: 80px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top:10px;
    right: 0px;
}
.options img.top { vertical-align: text-top; width: 25px; height: 25px; display: block; margin-bottom: 15px ; margin-top: 10px; transform: translateX(30px); cursor: pointer;}
.options img.middle{ vertical-align: text-bottom; width: 30px; height: 30px; display: block; transform: translateX(30px); cursor:pointer; }

.contenu .containers .activity div.date{
    margin-left: 10px;
    display: inline;
}
.contenu .containers .activity div img{
    width: 30px;
    height: 30px;
}
#description{
    transform: translateX(45px);
    border-radius: 10px;
    background-color: #ffffff;
}
.bgedit{
    position: absolute;
    top: 0;
    left: 0;
    width: 89.5%;
    height: 70px;
    background-color: #1c1c33;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.bgedit a{
    background-color: #0c7db1;
    width: 30%;
    color: white;
    box-shadow: 0 0 10px rgb(70, 70, 134);
}
hr{
    margin-bottom: 10px;
}



